<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>码神学堂</title>
        <meta name="description" content="码神学堂">
        <meta name="keywords" content="码神学堂">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body class="hold-transition">
        <div id="app">
            <div class="content-header">
                <h1>内容管理<small>课程管理</small></h1>
                <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>内容管理</el-breadcrumb-item>
                    <el-breadcrumb-item>课程管理</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="app-container">
                <div class="box">
                    <div class="filter-container">
                        <el-input placeholder="课程名称" v-model="pagination.queryString" style="width: 200px;" class="filter-item"></el-input>
                        <el-button @click="findPage()" class="dalfBut">查询</el-button>
                        <el-button type="primary" class="butT" @click="handleCreate()">新建课程</el-button>
                    </div>
                    <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                        <el-table-column  align="center" label="序号" prop="id"></el-table-column>
                        <el-table-column label="课程名称" align="center" prop="courseName">
                        </el-table-column>
                        <el-table-column label="学科" align="center" prop="subjects">
                        </el-table-column>
                        <el-table-column label="原始价格" align="center" prop="coursePrice">
                        </el-table-column>
                        <el-table-column label="售卖价格" align="center" prop="courseZhePrice">
                        </el-table-column>
                        <el-table-column label="订单时长(天)" align="center" prop="orderTime">
                        </el-table-column>
                        <el-table-column label="状态" align="center" prop="courseStatus">
                        </el-table-column>
                        <el-table-column label="操作" align="center">
                            <template slot-scope="scope">
                                <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-container">
                        <el-pagination
                            class="pagiantion"
                            @current-change="handleCurrentChange"
                            :current-page="pagination.currentPage"
                            :page-size="pagination.pageSize"
                            layout="total, prev, pager, next, jumper"
                            :total="pagination.total">
                        </el-pagination>
                    </div>
                    <!-- 新增标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="新增学科" :visible.sync="dialogFormVisible">
                            <el-tabs v-model="activeName" type="card">
                                <el-tab-pane label="基本信息" name="first">
                                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                        <el-row>
                                            <el-col >
                                                <el-form-item label="课程名称" prop="courseName">
                                                    <el-input  v-model="formData.courseName"/>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col >
                                                <el-form-item label="课程描述" prop="courseDesc">
                                                    <el-input type="textarea" v-model="formData.courseDesc"/>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col >
                                                <el-form-item label="课程原始价格" prop="coursePrice">
                                                    <el-input  v-model="formData.coursePrice"/>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col >
                                                <el-form-item label="课程售卖价格" prop="courseZhePrice">
                                                    <el-input  v-model="formData.courseZhePrice"/>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col >
                                                <el-form-item label="订单时长(天)" prop="orderTime">
                                                    <el-input  v-model="formData.orderTime"/>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col >
                                                <el-form-item label="背景图片地址" prop="imageUrl">
                                                    <el-input  v-model="formData.imageUrl"/>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col >
                                                <el-form-item label="课程状态" prop="courseStatus">
                                                    <el-select v-model="formData.courseStatus" placeholder="请选择">
                                                        <el-option
                                                                label="正常"
                                                                :value="0">
                                                        </el-option>
                                                        <el-option
                                                                label="下架"
                                                                :value="1">
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                    </el-form>
                                </el-tab-pane>
                                <el-tab-pane label="学科信息" name="second">
                                    <div class="checkScrol">
                                        <table class="datatable">
                                            <thead>
                                            <tr>
                                                <th>选择</th>
                                                <th>学科ID</th>
                                                <th>学科名称</th>
                                                <th>学科年级</th>
                                                <th>学科学期</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="c in tableData">
                                                <td>
                                                    <input :id="c.id" v-model="subjects" type="checkbox" :value="c.id">
                                                </td>
                                                <td><label :for="c.id">{{c.id}}</label></td>
                                                <td><label :for="c.id">{{c.subjectName}}</label></td>
                                                <td><label :for="c.id">{{c.subjectGrade}}</label></td>
                                                <td><label :for="c.id">{{c.subjectTerm}}</label></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </el-tab-pane>
                            </el-tabs>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取消</el-button>
                                <el-button type="primary" @click="handleAdd()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>

                    <!-- 编辑标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="编辑课程" :visible.sync="dialogFormVisibleEdit">
                            <el-tabs v-model="activeName" type="card">
                                <el-tab-pane label="基本信息" name="first">
                            <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                <el-row>
                                    <el-col >
                                        <el-form-item label="课程名称" prop="courseName">
                                            <el-input  v-model="formData.courseName"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col >
                                        <el-form-item label="课程描述" prop="courseDesc">
                                            <el-input type="textarea" v-model="formData.courseDesc"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col >
                                        <el-form-item label="课程原始价格" prop="coursePrice">
                                            <el-input  v-model="formData.coursePrice"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col >
                                        <el-form-item label="课程售卖价格" prop="courseZhePrice">
                                            <el-input  v-model="formData.courseZhePrice"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col >
                                        <el-form-item label="订单时长(天)" prop="orderTime">
                                            <el-input  v-model="formData.orderTime"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col >
                                        <el-form-item label="背景图片地址" prop="imageUrl">
                                            <el-input  v-model="formData.imageUrl"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col >
                                        <el-form-item label="课程状态" prop="courseStatus">
                                            <el-select v-model="formData.courseStatus" placeholder="请选择">
                                                <el-option
                                                        label="正常"
                                                        :value="0">
                                                </el-option>
                                                <el-option
                                                        label="下架"
                                                        :value="1">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                                </el-tab-pane>
                            <el-tab-pane label="学科信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>学科ID</th>
                                            <th>学科名称</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td>
                                                <input :id="c.id" v-model="subjects" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.id}}</label></td>
                                            <td><label :for="c.id">{{c.subjectName}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                            </el-tabs>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisibleEdit = false">取消</el-button>
                                <el-button type="primary" @click="handleEdit()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script>
        var vue = new Vue({
            el: '#app',
            data:{
                activeName:'first',
                pagination: {//分页相关模型数据
					  currentPage: 1,//当前页码
					  pageSize:10,//每页显示的记录数
					  total:0,//总记录数
					  queryString:null//查询条件
				},
				dataList: [],//当前页要展示的分页列表数据
                subjectList: [],
                tableData: {},
                fbChoiceList: [{
                   content: "",
                }],
                subjects:[],
                judgeAnswer:[
                    {
                    value: '0',
                    label: '正确'
                    },
                    {
                        value: '1',
                        label: '错误'
                    }],
                imageUrl:"",
                formData: {
                    topicStar:1
                },//表单数据
                dialogFormVisible: false,//增加表单是否可见
                dialogFormVisibleEdit:false,
                rules: {//校验规则
                    subjectName: [{ required: true, message: '必填项', trigger: 'blur' }],
                }
            },
            //钩子函数，VUE对象初始化完成后自动执行
            created() {
                this.findPage();
            },
            methods: {
                handleAvatarSuccess(){

                },
                beforeAvatarUpload(){

                },
                //编辑
                handleEdit() {
                    this.formData["subjectIdList"] = this.subjects;
                    axios.post("/lzadmin/course/updateCourse",this.formData).then((res)=>{
                        if (res.data.success){
                            this.$message({
                                message: '恭喜你，编辑成功',
                                type: 'success'
                            });
                            this.dialogFormVisibleEdit = false;
                            this.findPage();
                        }
                    }).catch((err)=>{
                        if ('Error: Request failed with status code 403' == err){
                            this.$message({
                                message: '无权限，请联系管理员',
                                type: 'error'
                            });
                        }
                    });
                },
                //添加
                handleAdd () {
                    this.formData["subjectIdList"] = this.subjects;
                    axios.post("/lzadmin/course/saveCourse",this.formData).then((res)=>{
                        if (res.data.success){
                            this.$message({
                                message: '恭喜你，添加成功',
                                type: 'success'
                            });
                            this.dialogFormVisible = false;
                            this.findPage();
                        }
                    }).catch((err)=>{
                        if ('Error: Request failed with status code 403' == err){
                            this.$message({
                                message: '无权限，请联系管理员',
                                type: 'error'
                            });
                        }
                    });
                },
                //分页查询
                findPage() {
                    const params = {"page":this.pagination.currentPage,"pageSize":this.pagination.pageSize};
                    axios.post("/lzadmin/course/findPage",params).then((res)=>{
                        if (res.data.success){
                            this.dataList = res.data.result.list;
                            this.pagination.total = res.data.result.size;
                        }
                    }).catch((err)=>{
                        if ('Error: Request failed with status code 403' == err){
                            this.$message({
                                message: '无权限，请联系管理员',
                                type: 'error'
                            });
                        }
                    });
                },
                // 重置表单
                resetForm() {
                    this.formData = {};
                    this.subjects = [];
                    this.tableData = {};
                },
                // 弹出添加窗口
                handleCreate() {
                    this.resetForm();
                    this.dialogFormVisible = true;
                    axios.post("/lzadmin/subject/allSubjectList",{"page":1}).then((res)=>{
                        if (res.data.success){
                            this.tableData = res.data.result;
                        }
                    }).catch((err)=>{
                        if ('Error: Request failed with status code 403' == err){
                            this.$message({
                                message: '无权限，请联系管理员',
                                type: 'error'
                            });
                        }
                    });
                },
                // 弹出编辑窗口
                handleUpdate(row) {
                    this.resetForm();
                    this.dialogFormVisibleEdit = true;
                    axios.post("/lzadmin/course/findCourseById",{"id":row.id}).then((res)=>{
                        if (res.data.success){
                            this.formData  = res.data.result;
                            this.tableData = res.data.result.subjectList;
                            this.subjects = res.data.result.subjectIdList;
                        }
                    }).catch((err)=>{
                        if ('Error: Request failed with status code 403' == err){
                            this.$message({
                                message: '无权限，请联系管理员',
                                type: 'error'
                            });
                        }
                    });
                },
                //切换页码
                handleCurrentChange(currentPage) {
                    this.pagination.currentPage = currentPage;
                    this.findPage();
                },
            }
        })
    </script>
</html>